@import '../base/variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.color-fondo-principal{
	background-color: black;
}


// .menu-fixed {
// 	position: fixed;
// 	top: 0;
// }


.banner-rojo{
	background-color: rgb(146, 5, 5);
}

.umbrellatech-logo {
	max-width: 50%;
	max-height: 50%;
   }

 .carousel-inner .carousel-item img {
	margin: 0 auto;
  }

 h1 {
	padding: 10px;
	border-bottom: 5px solid red;
	color: red;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align:center;
  }

.sectionFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 500px;
    border: 1px solid black;
    width: 100%;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: stretch;
}

.sectionFlex p {
    color: whitesmoke;
    background-color: rgb(15, 15, 11);
    width:30%;
    padding: 50px 30px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif
}

.sectionFlex h2 {
    color: rgb(114, 12, 20);
    width: 50%;
    padding: 0px;
    margin: 25px;
}

.sectionFlex img {
	width: 50%;
}


p {
	color: $bg-color;
	font-style: oblique;
    font-weight: bold;
}

.informacion-adicional,.los-mas-vendidos,
.promos-exclusivas,.comunicacion,.redes-sociales {
	margin-top: 5%;
}